---
import Base from "../layouts/Base.astro";
---
<Base title="Disclaimer | Vital Fit Peptides">
  <h1>Disclaimer</h1>

  <p>
    All products sold by Vital Fit Peptides are intended for laboratory research
    purposes only. Products are not intended for human or veterinary use.
  </p>

  <p>
    The information provided on this website is for educational and informational
    purposes only and is not intended as medical advice.
  </p>
</Base>